---
import { type CollectionEntry, getCollection, render } from "astro:content";
import MainLayout from "@layouts/MainLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";
import Giscus from "@components/Giscus.astro";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, remarkPluginFrontmatter: remarkData } = await render(post);
---

<MainLayout>
	<main>
		<article>
			<header>
				<h1>{post.data.title}</h1>
				<post-meta>
					<reading-time>{remarkData.minutesRead}</reading-time>
					<date-published>Published <FormattedDate date={post.data.pubDate} /></date-published>
					{
						post.data.modDate && (
							<date-modified>
								Last updated <FormattedDate date={post.data.modDate} />
							</date-modified>
						)
					}
				</post-meta>
			</header>
			<div class="prose">
				<Content />
			</div>
			<yes-script>
				<comment-section>
					<Giscus />
				</comment-section>
			</yes-script>
		</article>
	</main>
</MainLayout>

<noscript>
	<style>
		yes-script {
			display: none;
		}
	</style>
</noscript>

<style>
	header {
		border-bottom: var(--border-width) solid var(--color-light);
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		post-meta {
			display: flex;
			flex-direction: row;
			> :not(:first-child) {
				&::before {
					content: "|";
					margin: 0 2rem;
				}
			}
		}
	}
	.prose {
		:is(h1, h2, h3, h4, h5, h6) {
			scroll-margin-top: 11rem;
		}
	}
	comment-section {
		margin-top: 3rem;
		padding-top: 3rem;
		display: block;
		border-top: var(--border-width) solid var(--color-light);
		max-height: 140rem;
		overflow-y: auto;
	}
</style>
