---
import RssIcon from "~icons/mdi/rss";

import FormattedDate from "@components/FormattedDate.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
---

<MainLayout>
	<main>
		<filter-bar>
			<h1>Blog</h1>
			<a href="/blog.rss" class="rss panel-light" aria-label="RSS feed">
				<RssIcon class="rss-icon" />
			</a>
		</filter-bar>
		<ul>
			{
				blogPosts
					.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
					.map((post) => (
						<li class="post">
							<a href={`/blog/${post.id}`} tabindex="0">
								<article>
									<header>
										<h2>{post.data.title}</h2>
										<FormattedDate date={post.data.pubDate} />
									</header>
									<p>{post.data.description}</p>
								</article>
							</a>
						</li>
					))
			}
		</ul>
	</main>
</MainLayout>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	filter-bar {
		border-bottom: var(--border-width) solid var(--color-light);
		padding-bottom: 2rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 3rem;
		h1 {
			line-height: 1;
		}
		.rss {
			margin-left: auto;
			> .rss-icon {
				width: 7rem;
				height: 7rem;
			}
		}
	}

	main > ul {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.post {
		padding-bottom: 1rem;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			border-bottom: var(--border-width) solid var(--color-light);
		}
		&:hover,
		&:focus-within {
			background-color: var(--color-light);
			color: var(--color-dark);
			outline: var(--border-width) solid var(--color-light);
			&::after {
				border-color: transparent;
			}
		}

		header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: baseline;
			gap: 1rem;
			h2 {
				flex-grow: 1;
				font-size: 5rem;
				line-height: 110%;
				overflow-wrap: anywhere;
			}
			time {
				flex-shrink: 0;
			}
		}
	}
</style>
