---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
	<main class="full-size">
		<h1>404</h1>
		<p>Not found</p>
	</main>
</MainLayout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
	}
	h1 {
		font-size: 10em;
		font-weight: bold;
		line-height: 1;
	}
	p {
		font-size: 1.5em;
	}
</style>
