<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="color-scheme" content="dark light" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
	rel="alternate"
	type="application/rss+xml"
	title="Fripe's Blog"
	href={new URL("rss.xml", Astro.site)}
/>

<title>Fripe's site</title>
<meta name="author" content="fripe" />
<meta name="generator" content={Astro.generator} />

<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@Fripe16" />
