---
interface Props {
	navPages: Record<string, string>;
}
const { navPages } = Astro.props;
---

<nav>
	<ul>
		{
			Object.entries(navPages).map(([path, name], index) => (
				<>
					{index !== 0 && <li class="separator" />}
					<li>
						<a
							tabindex="0"
							href={path}
							class={`clickable ${Astro.url.pathname === path && "active"}`}
						>
							{name}
						</a>
					</li>
				</>
			))
		}
		<slot />
	</ul>
</nav>

<style>
	nav {
		border-bottom: 2px solid var(--color-light);
	}
	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 100%;
		> li:not(.separator) {
			display: contents;
			a {
				padding: 2rem;
			}
		}
		> .separator {
			border-left: 2px solid var(--color-light);
			height: 100%;
		}
	}
</style>
