---
interface Props {
	navPages: Record<string, string>;
}
const { navPages } = Astro.props;

const addTrailing = (path: string) => (path.endsWith("/") ? path : path + "/");
---

<nav>
	<ul>
		{
			Object.entries(navPages).map(([path, name]) => (
				<li>
					<a
						tabindex="0"
						href={path}
						class={`clickable ${addTrailing(path) === addTrailing(Astro.url.pathname) && "active"}`}
					>
						{name}
					</a>
				</li>
			))
		}
		<slot />
	</ul>
</nav>

<style>
	nav {
		border-bottom: 2px solid var(--color-light);
	}
	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	li {
		display: contents;
		a {
			padding: 1rem 2rem;
		}
		&:not(:first-child)::before {
			content: "";
			display: inline-block;
			border-left: 2px solid var(--color-light);
			align-self: stretch;
		}
	}
</style>
