---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
	<main class="full-size">
		<slot />
	</main>
</MainLayout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
</style>
