---
import Layout from "@layouts/Layout.astro";
import Background from "@components/Background.astro";
import NavList from "@components/NavList.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import FormattedDate from "@components/FormattedDate.astro";

const navPages = {
	"/": Astro.site?.hostname ?? "Home",
	"/blog": "Blog",
};
---

<Layout>
	<Background />
	<page-wrapper class="panel-dark">
		<title-bar class="panel-dark">
			<NavList navPages={navPages} />
			<Breadcrumbs ignoredPages={Object.keys(navPages)} />
		</title-bar>
		<page-container>
			<slot />
		</page-container>
		<footer>
			<div>
				<a
					class="clickable"
					href="https://github.com/Fripe070/website"
					target="_blank"
					rel="noopener noreferrer"
				>
					Website Source
				</a>
				<span>
					Updated <FormattedDate
						date={new Date()}
						format={{
							year: "numeric",
							month: "short",
							day: "numeric",
							hour: "2-digit",
							minute: "2-digit",
						}}
					/>
				</span>
				<span>
					<a
						class="clickable"
						href="https://github.com/sponsors/Fripe070"
						target="_blank"
						rel="noopener noreferrer"
					>
						Donate
					</a>
					<!-- Light blue heart emoji -->
					{`\u{1FA75}`}
				</span>
			</div>
			<div>
				<span>
					Code license: <a
						class="clickable"
						href="https://interoperable-europe.ec.europa.eu/collection/eupl/eupl-text-eupl-12"
						target="_blank"
						rel="noopener noreferrer"
					>
						EUPL 1.2
					</a>
				</span>
				<span>
					Content license: <a
						class="clickable"
						href="http://creativecommons.org/licenses/by/4.0/"
						target="_blank"
						rel="noopener noreferrer"
					>
						CC BY 4.0
					</a>
				</span>
			</div>
		</footer>
	</page-wrapper>
</Layout>

<style>
	title-bar {
		display: block;
		position: sticky;
		top: 0;
		z-index: 100;
	}
	footer {
		border-top: 2px solid var(--color-light);
		padding: 3rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		> * {
			display: flex;
			flex-direction: row;
			gap: 3rem;
		}
	}

	page-wrapper {
		flex-grow: 1;
		width: 100%;
		max-width: 180rem;
		margin: 0 auto;
		/* Outline will not render for screens slimmer than the max width */
		outline: 2px solid var(--color-light);
		display: flex;
		flex-direction: column;
	}
	page-container {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	page-container > :global(main) {
		padding: 3rem 3rem;
	}
</style>
